
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Feature</th>
                <th>Reason</th>
                <th colspan="2" class="text-right">Working state</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>WLAN</td>
                <td>WiFi 2.4Ghz and 5Ghz</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Touch</td>
                <td>10 fingers max, right click support</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>GPS</td>
                <td>Requires an internet connection to download maps data on first run</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Miracast</td>
                <td>Receiving content, projecting content</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Bluetooth</td>
                <td>Random disconnections may happen, Windows issue</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>NFC</td>
                <td>Reading, writing</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>SD Card slot</td>
                <td>Max speed: HS400</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>eMMC</td>
                <td>All brands including Samsung</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Battery</td>
                <td>Charging, readings</td>
                <td class="text-right">Working (May require to use a traditional usb cable plugged in to a computer for charging)</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Side buttons</td>
                <td>Volume control, lock/unlock/power off, camera</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>SoC Cores</td>
                <td>All 8 cores (A53 and A57)</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Display panel</td>
                <td>Brightness control, color accuracy</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Audio</td>
                <td>Speakers, microphones</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Sensors</td>
                <td>Gyrometer, Accelerometer, Ambient light sensor</td>
                <td class="text-right">Working</td>
                <td><span class="state working"><i class="ms-Icon ms-Icon--CheckMark" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>USB</td>
                <td>Plug detection, USB host/guest</td>
                <td class="text-right">Partially working (Driver only works on 17134 and lower)</td>
                <td><span class="state warning"><i class="ms-Icon ms-Icon--Warning" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Cellular</td>
                <td>EDGE, GSM, CDMA, HSDPA, LTE. No VoLTE support. Call, Texts and Cellular Data fully working on Windows 10 18363 and lower. For versions higher, Cellular Data works only but can be tricky to activate. Dual SIM devices may require an APN to be specified.</td>
                <td class="text-right">Partially working</td>
                <td><span class="state warning"><i class="ms-Icon ms-Icon--Warning" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>GPU</td>
                <td>ARM64, ARM32 Direct X support only for now</td>
                <td class="text-right">Partially working (Artifacts may show up due to exceptions thrown in the DirextX User Mode compilers)</td>
                <td><span class="state warning"><i class="ms-Icon ms-Icon--Warning" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Connected standby</td>
                <td>S0 Network connected state</td>
                <td class="text-right">Partially working (WLAN Network adapter disconnects when the device is locked)</td>
                <td><span class="state warning"><i class="ms-Icon ms-Icon--Warning" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Cameras</td>
                <td>No drivers</td>
                <td class="text-right">Not working</td>
                <td><span class="state error"><i class="ms-Icon ms-Icon--Blocked" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Windows Hello Fingerprint unlock</td>
                <td>No drivers</td>
                <td class="text-right">Not working</td>
                <td><span class="state error"><i class="ms-Icon ms-Icon--Blocked" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td>Hyper-V</td>
                <td>No firmware support</td>
                <td class="text-right">Not working</td>
                <td><span class="state error"><i class="ms-Icon ms-Icon--Blocked" aria-hidden="true"></i></span></td>
            </tr>
        </tbody>
    </table>
</div>