<table>
    <thead>
        <tr>
            <th>Feature</th>
            <th class="text-right">Device</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>USB-C <span class="badge">Drivers</span></td>
            <td class="text-right">Lumia 950 / Lumia 950 XL</td>
        </tr>
        <tr>
            <td>Windows 10 Manganese support (20H2+) <span class="badge">UEFI</span></td>
            <td class="text-right">Lumia 950 / Lumia 950 XL / RX-130</td>
        </tr>
        <tr>
            <td>Transitioning to Software Components <span class="badge">Driver INFs/Setup experience</span></td>
            <td class="text-right">Lumia 950 / Lumia 950 XL / RX-130</td>
        </tr>
        <tr>
            <td>Default USB configuration <span class="badge">Configuration INFs</span></td>
            <td class="text-right">Lumia 950 / Lumia 950 XL / RX-130</td>
        </tr>
        <tr>
            <td>Processor management for PEP <span class="badge">Driver patching</span></td>
            <td class="text-right">Lumia 950</td>
        </tr>
        <tr>
            <td>Hypervisor support for Windows 10 <span class="badge">UEFI</span></td>
            <td class="text-right">Lumia 950 / Lumia 950 XL / RX-130</td>
        </tr>
        <tr>
            <td>Processor parking <span class="badge">UEFI</span></td>
            <td class="text-right">Lumia 950 / Lumia 950 XL / RX-130</td>
        </tr>
    </tbody>
</table>