<link rel="icon" type="image/png" sizes="16x16" href="/favicons/icon-16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/icon-32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/favicons/icon-48.png">
<link rel="icon" sizes="192x192" href="/favicons/icon-192.png">
<link rel="icon" sizes="128x128" href="/favicons/icon-128.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/icon-180.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/icon-120.png">
<link rel="mask-icon" href="/favicons/icon-safari.svg" color="{{ .Site.Params.safari_mask_icon }}" size="any">
<link rel="shortcut icon" href="/favicons/icon.ico">
<meta name="msapplication-TileColor" content="{{ .Site.Params.msapplication_TileColor }}">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="msapplication-TileImage" content="/favicons/icon-144.png">
<meta name="theme-color" content="{{ .Site.Params.theme_color }}">