<footer>
    <div class="wrapper caption secondary">
        <p>{{ .Site.Copyright }}</p>
        <p>Snapdragon is a registered trademark of Qualcomm Incorporated. Microsoft, the Microsoft Corporate Logo, Windows, Lumia, and Continuum are registered trademarks of Microsoft Corporation in the United States. Miracast is a registered trademark of the Wi-Fi Alliance. Other binaries may be copyright Qualcomm Incorporated and Microsoft Mobile.</p>
        <p> Hello from San Francisco (US), France, Italy, Germany, Spain, Hungary</p>
    </div>
</footer>