<r-cell span-s=row>
    <h4>WOA Deployer</h4>
    <p>WOA Deployer allows you to deploy with ease Windows 10 Desktop to your device, and enabling Dual Boot with 2 clicks. You can pick the windows release you want, the language you want.</p>
    <a class="button primary" href="https://github.com/WOA-Project/WOA-Deployer-Lumia">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>BootShim</h4>
    <p>BootShim is the UEFI bootstraper. It escalates the SoC to AArch64 and starts our UEFI.</p>
    <a class="button primary" href="https://github.com/imbushuo/boot-shim">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Lumia950XlPkg</h4>
    <p>Lumia950XlPkg is our EDK2 port for the Lumia 950 and Lumia 950 XL. It enables us to bootstrap Windows 10 Desktop for ARM64 processors on the Lumia.</p>
    <a class="button primary" href="https://github.com/WOA-Project/Lumia950XLPkg">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Lumia Drivers</h4>
    <p>Lumia Drivers is the repository hosting all driver files for Windows, and INF files which had to be recreated. Some additional driver patching is also done here to make things work the way they should.</p>
    <a class="button primary" href="https://github.com/WOA-Project/Lumia-Drivers">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Lumia USB-C</h4>
    <p>Lumia USB-C is the recreation of the USB C driver for Lumia devices. The Lumia 950 USB-C solution is proprietary and personalized, thus the need for a custom driver.</p>
    <a class="button primary" href="https://github.com/WOA-Project/LumiaUSBC">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Color Profile</h4>
    <p>Color Profile is the stack managing the personalization of the display color tint, saturation and contrast.</p>
    <a class="button primary" href="https://github.com/WOA-Project/ColorProfile">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Advanced Info</h4>
    <p>Advanced Info displays information about your device, within the settings app.</p>
    <a class="button primary" href="https://github.com/WOA-Project/AdvancedInfo">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Airwaves</h4>
    <p>Airwaves allows you to listen to FM radio, right from your phone.</p>
    <a class="button primary" href="https://github.com/tigerw/FM-Radio-Frontend">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>RIL Init Service</h4>
    <p>RIL Init Service allows you to have the Radio Interface Layer initialized on newer versions of Windows 10.</p>
    <a class="button primary" href="https://github.com/WOA-Project/RILServiceInit">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Auto Brightness Service</h4>
    <p>The auto brightness service allows you to have automatic brightness on your device.</p>
    <a class="button primary" href="https://github.com/WOA-Project/AutoBrightnessSvc">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Auto Rotation Service</h4>
    <p>The auto rotation service allows you to have automatic rotation on your device.</p>
    <a class="button primary" href="https://github.com/WOA-Project/AutoRotate">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Vibrations</h4>
    <p>The vibration stack allows you to have haptic vibrations once you get a notification, and control the intensity of the vibration via a settings application.</p>
    <a class="button primary" href="https://github.com/WOA-Project/VibrationSettings">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>USB Function Mode Switcher</h4>
    <p>USB Function Mode Switcher allows you to switch USB function modes.</p>
    <a class="button primary" href="https://github.com/WOA-Project/USBFunctionModeSwitcher">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Data Management Service</h4>
    <p>The data management service enables cellular data connections automatically.</p>
    <a class="button primary" href="https://github.com/WOA-Project/DataManagementSvc">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Power Supply Notifier</h4>
    <p>Power Supply Notifier plays a sound when your device starts charging.</p>
    <a class="button primary" href="https://github.com/WOA-Project/PowerSupplyNotifier">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>SynapticsTouch</h4>
    <p>The Synaptics Touch driver enables touch on your device</p>
    <a class="button primary" href="https://github.com/imbushuo/SynapticsTouch">View on GitHub</a>
</r-cell>
<r-cell span-s=row>
    <h4>Display Dock Flyout</h4>
    <p>The Display Dock Flyout displays information about a connected Display Dock (HD-500)</p>
    <a class="button primary" href="https://github.com/WOA-Project/DisplayDockFlyout">View on GitHub</a>
</r-cell>